@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc {
    width: 1366px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    color: #909090;
    background-color: #202020;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.accimg {
    margin-left: 1100px;
    margin-right: 10px;
}
.nav {
    width: 1366px;
    width: 100%;
    margin: 0 auto;
    height: 160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.signup {
    position: absolute;
    top: 0;
    left: 1100px;
    width: 200px;
    display: none;
    border: 3px solid #202020;
    height: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #202020;
}
.signup input {
    margin-top: 15px;
    margin-left: 10px;
}
.signup button {
    margin-top: 15px;
    margin-left: 115px;
}
ul {
    margin-left: 280px;
    @include center()
}
.nav h1 {
    font-size: 48px;
    margin-left: 140px;
}
ul li {
    margin-left: 40px;
}
.nav li:hover {
    color: #909090;
    cursor: pointer;
}
.firstsection {
    width: 1366px;
    width: 100%;
    margin: 0 auto;
    height: 640px;
    background-image: url(../photos/WKND-images.png);
    background-position: center;
    background-size: cover;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.advntures {
    width: 1160px;
    height: 246px;
    background-color: #ffffff;
    margin-bottom: 0px;
}
.advntures h1 {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 22px;
}
.advntures p {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 100px;
    margin-top: 15px;
}
.advntures button {
    font-size: 14px;
    margin-left: 40px;
    margin-top: 20px;
    width: 154px;
    height: 48px;
    background-color: #ffeb00;
}
.search-box {
    width: 40px;
    height: 40px;
    background-color: #ebebeb;
    position: relative;
    margin-left: 35px;
    transition: 1s;
    overflow: hidden;
}
.search-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 22px;
    cursor: pointer;
}
.search-box.active {
    width: 256px;
}
.search-box .input {
    position: relative;
    width: 250px;
    height: 40px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box .input input {
    position: absolute;
    width: 70%;
    height: 70%;
    border: none;
    font-size: 14px;
    outline: none;
    background-color: #ebebeb;
}
.section2{
    width: 1366px;
    height: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 1084px;
    height: 487px;
}
.section3 {
    width: 1366px;
    height: 441px;
    display: flex;
    justify-content: center;
    align-items: center;
    //border-bottom: 1px solid #202020;
}
.recent {
   font-size: 36px; 
   margin-left: 141px;
}
.sliders div {
    width: 256px;
    height: 240px;
}
.sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 65px;
    
}
.section4 {
        width: 1366px;
        width: 100%;
        margin: 0 auto;
        height: 640px;
        background-image: url(../photos/WKND-image.png);
        background-position: center;
        background-size: cover;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
}
.where {
    font-size: 24px; 
    margin-left: 141px;
    margin-top: 71px;
    margin-bottom: 50px;
}