@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

* {
  box-sizing:  border-box;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
}

.acc {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  color: #909090;
  background-color: #202020;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accimg {
  margin-left: 1100px;
  margin-right: 10px;
}

.nav {
  width: 1366px;
  width: 100%;
  margin: 0 auto;
  height: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.signup {
  position: absolute;
  top: 0;
  left: 1100px;
  width: 228px;
  display: none;
  border: 3px solid #202020;
  height: 135px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #202020;
}

.signup input {
  margin-top: 15px;
  margin-left: 10px;
}

.signup button {
  margin-top: 15px;
  margin-left: 115px;
}

.nav ul {
  margin-left: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  font-size: 48px;
  margin-left: 140px;
}

.nav ul li {
  margin-left: 40px;
}

.nav li:hover {
  color: #909090;
  cursor: pointer;
}

.firstsection {
  width: 100%;
  margin: 0 auto;
  height: 640px;
  background-image: url(../photos/WKND-images.png);
  background-position: center;
  background-size: cover;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.advntures {
  width: 90%;
  height: 246px;
  background-color: #ffffff;
  margin-bottom: 0px;
}

.advntures h1 {
  font-size: 40px;
  margin-left: 40px;
  margin-top: 22px;
}

.advntures p {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 100px;
  margin-top: 15px;
}

.advntures button {
  font-size: 14px;
  margin-left: 40px;
  margin-top: 20px;
  width: 154px;
  height: 48px;
  background-color: #ffeb00;
}

.search-box {
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  position: relative;
  margin-left: 35px;
  transition: 1s;
  overflow: hidden;
}

.search-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 22px;
  cursor: pointer;
}

.search-box.active {
  width: 256px;
}

.search-box .input {
  position: relative;
  width: 250px;
  height: 40px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box .input input {
  position: absolute;
  width: 70%;
  height: 70%;
  border: none;
  font-size: 14px;
  outline: none;
  background-color: #ebebeb;
}

.section2 {
  width: 80%;
  height: 664px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.article {
  width: 368px;
  height: 487px;
  background-color: #f7f7f7;
}

.article h1 {
  font-size: 36px;
  margin-top: 18px;
  margin-left: 20px;
}

.article h4 {
  font-size: 24px;
  margin-top: 37px;
  margin-left: 20px;
}

.article p {
  font-size: 14px;
  margin-top: 50px;
  margin-left: 20px;
  width: 328px;
  line-height: 30px;
}

.article button {
  width: 155px;
  height: 48px;
  background-color: #ffeb00;
  margin-top: 123px;
  margin-left: 20px;
}

.slider {
  width: 716px;
  height: 487px;
}

.section3 {
  width: 80%;
  height: 441px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #202020;
}

.recent {
  font-size: 36px;
  margin-left: 141px;
}

.sliders div {
  width: 256px;
  height: 240px;
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 65px;
}

.section4 {
  width: 100%;
  margin: 0 auto;
  height: 640px;
  background-image: url(../photos/WKND-imagee.png);
  background-position: center;
  background-size: cover;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.climb {
  width: 90%;
  height: 246px;
  background-color: #ffffff;
  margin-bottom: 0px;
}

.climb h1 {
  font-size: 40px;
  margin-left: 40px;
  margin-top: 22px;
}

.climb p {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 100px;
  margin-top: 15px;
}

.climb button {
  font-size: 14px;
  margin-left: 40px;
  margin-top: 20px;
  width: 154px;
  height: 48px;
  background-color: #ffeb00;
}

.where {
  font-size: 24px;
  margin-left: 141px;
  margin-top: 71px;
  margin-bottom: 50px;
}

.nextadv {
  font-size: 36px;
  margin-left: 141px;
  margin-top: 65px;
  margin-bottom: 48px;
}

.section5 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.expbtn {
  width: 166px;
  height: 48px;
  background-color: #202020;
  color: #ffffff;
  margin-left: 141px;
  margin-top: 60px;
}

.section5 h3 {
  font-size: 16px;
  margin-top: 12px;
}

.section5 p {
  font-size: 10px;
  margin-top: 11px;
}

.section6 {
  width: 70%;
  margin: 0 auto;
  margin-top: 136px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section6 div h1 {
  font-size: 40px;
  margin-top: 22px;
  margin-left: 40px;
}

.section6 div p {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 40px;
}

.section6 div input {
  width: 236px;
  height: 48px;
  background-color: #ebebeb;
  margin-top: 24px;
  margin-left: 40px;
}

.section6 div button {
  width: 133px;
  height: 48px;
  background-color: #202020;
  color: #ffffff;
  margin-left: 20px;
}

.section6 div {
  background-color: #f7f7f7;
}

footer {
  padding: 56px;
  width: 100%;
  margin: 0 auto;
  background-color: #202020;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.icons h1 {
  color: #ebebeb;
  font-size: 80px;
}

.icons li {
  color: #909090;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}

.icons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons li:hover {
  color: #ffffff;
}

footer p {
  color: #909090;
  margin-left: 200px;
  margin-top: 70px;
}

.burger {
  display: none;
}

@media (max-width: 480px) {
  .acc {
    justify-content: flex-start;
  }
  .nav ul {
    display: none;
  }
  .burger {
    display: block;
  }
  .accimg {
    margin-left: 50px;
  }
  .signup {
    left: 228px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-box {
    margin-left: 0px;
    margin-top: 15px;
  }
  .nav h1 {
    margin-left: 0px;
    margin-top: 15px;
  }
  .slider {
    display: none;
  }
  .section3 {
    display: none;
  }
  .recent {
    display: none;
  }
  .climb p {
    display: none;
  }
  footer nav {
    display: none;
  }
  .nextadv {
    margin-left: 110px;
  }
  .where {
    margin-left: 100px;
  }
  .section6 div button {
    margin-top: 5px;
    margin-left: 90px;
  }
  footer p {
    margin-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */